<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>JuNest Linux</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/images/junest.ico">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/github-dark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{site.baseurl}}/javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <header>
        <h1>
          <img src="{{site.baseurl}}/images/junest-logo.png" alt="JuNest Linux Logo">
        </h1>
        <p>The Arch Linux based distro that runs upon any Linux distros without root access</p>
      </header>

      <div id="banner">
        <div class="menu">
          <ul>
            <li><a href="{{site.baseurl}}/index.html" class="button">Home</a></li>
            <li><a href="{{site.baseurl}}/getting_started.html" class="button">Getting Started</a></li>
            <li><a href="{{site.baseurl}}/documentation.html" class="button">Documentation</a></li>
            <li><a href="{{site.baseurl}}/community.html" class="button">Community</a></li>
            <li><a href="{{site.baseurl}}/about.html" class="button">About</a></li>
            <li><a href="https://github.com/fsquillace/junest" class="button" target="_blank">View in Github</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
{{content}}
      </section>

      <footer>
        <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-63054253-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
